Partie_2_ClassificationComposants/3-NodeRED/flows.json
[
  {
    "id": "tab_composants",
    "type": "tab",
    "label": "Classification Composants",
    "disabled": false,
    "info": "Flow pour recevoir la classe détectée depuis Arduino (BLE via Serial) et incrémenter les compteurs."
  },
  {
    "id": "serial_in",
    "type": "serial in",
    "z": "tab_composants",
    "name": "Arduino Serial",
    "serial": "serial_config",
    "x": 130,
    "y": 100,
    "wires": [["parse_label"]]
  },
  {
    "id": "serial_config",
    "type": "serial-port",
    "serialport": "/dev/ttyACM0",
    "serialbaud": "115200",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": "",
    "responsetimeout": "10000"
  },
  {
    "id": "parse_label",
    "type": "function",
    "z": "tab_composants",
    "name": "Extraire la classe",
    "func": "// Le message Arduino est du type : \">> CLASSE DETECTEE : LED\"\nvar txt = msg.payload.toString().trim();\n\n// On cherche la ligne qui contient la classe détectée\nif (txt.indexOf('CLASSE DETECTEE') === -1) {\n    return null; // Ignore les autres lignes (debug, timings...)\n}\n\n// Extraction de la classe après \" : \"\nvar parts = txt.split(' : ');\nif (parts.length < 2) return null;\n\nvar label = parts[parts.length - 1].trim();\n\n// Classes valides (doit correspondre à tes labels Edge Impulse)\nvar validClasses = ['LED', 'Resistance', 'Condensateur', 'CircuitIntegre'];\n\nif (validClasses.indexOf(label) === -1) {\n    node.warn('Classe inconnue reçue : ' + label);\n    return null;\n}\n\nmsg.payload = label;\nmsg.topic   = label;\nreturn msg;",
    "outputs": 1,
    "x": 330,
    "y": 100,
    "wires": [["route_class", "debug_label"]]
  },
  {
    "id": "debug_label",
    "type": "debug",
    "z": "tab_composants",
    "name": "Debug classe",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "x": 530,
    "y": 40,
    "wires": []
  },
  {
    "id": "route_class",
    "type": "switch",
    "z": "tab_composants",
    "name": "Router par classe",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {"t": "eq", "v": "LED",           "vt": "str"},
      {"t": "eq", "v": "Resistance",    "vt": "str"},
      {"t": "eq", "v": "Condensateur",  "vt": "str"},
      {"t": "eq", "v": "CircuitIntegre","vt": "str"}
    ],
    "checkall": "false",
    "outputs": 4,
    "x": 550,
    "y": 100,
    "wires": [
      ["counter_led"],
      ["counter_resistance"],
      ["counter_condensateur"],
      ["counter_ci"]
    ]
  },
  {
    "id": "counter_led",
    "type": "function",
    "z": "tab_composants",
    "name": "Compteur LED",
    "func": "context.count = (context.count || 0) + 1;\nmsg.payload = context.count;\nmsg.topic = 'LED';\nreturn msg;",
    "outputs": 1,
    "x": 780,
    "y": 60,
    "wires": [["gauge_led", "chart_all"]]
  },
  {
    "id": "counter_resistance",
    "type": "function",
    "z": "tab_composants",
    "name": "Compteur Résistance",
    "func": "context.count = (context.count || 0) + 1;\nmsg.payload = context.count;\nmsg.topic = 'Resistance';\nreturn msg;",
    "outputs": 1,
    "x": 780,
    "y": 120,
    "wires": [["gauge_resistance", "chart_all"]]
  },
  {
    "id": "counter_condensateur",
    "type": "function",
    "z": "tab_composants",
    "name": "Compteur Condensateur",
    "func": "context.count = (context.count || 0) + 1;\nmsg.payload = context.count;\nmsg.topic = 'Condensateur';\nreturn msg;",
    "outputs": 1,
    "x": 780,
    "y": 180,
    "wires": [["gauge_condensateur", "chart_all"]]
  },
  {
    "id": "counter_ci",
    "type": "function",
    "z": "tab_composants",
    "name": "Compteur Circuit Intégré",
    "func": "context.count = (context.count || 0) + 1;\nmsg.payload = context.count;\nmsg.topic = 'CircuitIntegre';\nreturn msg;",
    "outputs": 1,
    "x": 780,
    "y": 240,
    "wires": [["gauge_ci", "chart_all"]]
  },
  {
    "id": "gauge_led",
    "type": "ui_gauge",
    "z": "tab_composants",
    "name": "LED",
    "group": "dashboard_group",
    "order": 1,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "LEDs détectées",
    "label": "pcs",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1020,
    "y": 60,
    "wires": []
  },
  {
    "id": "gauge_resistance",
    "type": "ui_gauge",
    "z": "tab_composants",
    "name": "Résistances",
    "group": "dashboard_group",
    "order": 2,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Résistances détectées",
    "label": "pcs",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#0084e2","#e6e600","#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1020,
    "y": 120,
    "wires": []
  },
  {
    "id": "gauge_condensateur",
    "type": "ui_gauge",
    "z": "tab_composants",
    "name": "Condensateurs",
    "group": "dashboard_group",
    "order": 3,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Condensateurs détectés",
    "label": "pcs",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#e2a200","#e6e600","#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1020,
    "y": 180,
    "wires": []
  },
  {
    "id": "gauge_ci",
    "type": "ui_gauge",
    "z": "tab_composants",
    "name": "Circuits Intégrés",
    "group": "dashboard_group",
    "order": 4,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Circuits Intégrés détectés",
    "label": "pcs",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "colors": ["#9b00e2","#e6e600","#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 1020,
    "y": 240,
    "wires": []
  },
  {
    "id": "chart_all",
    "type": "ui_chart",
    "z": "tab_composants",
    "name": "Historique comptage",
    "group": "dashboard_group",
    "order": 5,
    "width": 12,
    "height": 6,
    "label": "Composants détectés au fil du temps",
    "chartType": "bar",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "En attente...",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#00b500","#0084e2","#e2a200","#9b00e2"],
    "x": 1020,
    "y": 300,
    "wires": []
  },
  {
    "id": "reset_btn",
    "type": "ui_button",
    "z": "tab_composants",
    "name": "Reset compteurs",
    "group": "dashboard_group",
    "order": 6,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "🔄 Reset tous les compteurs",
    "tooltip": "",
    "color": "",
    "bgcolor": "#ca3838",
    "x": 130,
    "y": 200,
    "wires": [["reset_function"]]
  },
  {
    "id": "reset_function",
    "type": "function",
    "z": "tab_composants",
    "name": "Reset tous compteurs",
    "func": "// Remet à zéro les contextes de tous les noeuds compteurs\nvar nodes = ['counter_led','counter_resistance','counter_condensateur','counter_ci'];\nnodes.forEach(function(n) {\n    flow.set(n + '_count', 0);\n});\n\n// Envoie 0 à tous les gauges\nvar msgs = [];\n['LED','Resistance','Condensateur','CircuitIntegre'].forEach(function(label) {\n    msgs.push({payload: 0, topic: label});\n});\nreturn [msgs[0], msgs[1], msgs[2], msgs[3]];",
    "outputs": 4,
    "x": 350,
    "y": 200,
    "wires": [["gauge_led"],["gauge_resistance"],["gauge_condensateur"],["gauge_ci"]]
  },
  {
    "id": "dashboard_group",
    "type": "ui_group",
    "name": "Comptage Composants",
    "tab": "dashboard_tab",
    "order": 1,
    "disp": true,
    "width": 12
  },
  {
    "id": "dashboard_tab",
    "type": "ui_tab",
    "name": "Composants TinyML",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
